Categories:
  - Money
License: MIT
AuthorName: Sam Yu
SourceCode: https://github.com/yudataguy/retirement-compound-interest-calculator
IssueTracker: https://github.com/yudataguy/retirement-compound-interest-calculator/issues

RepoType: git
Repo: https://github.com/yudataguy/retirement-compound-interest-calculator.git

Builds:
  - versionName: '0.1.0'
    versionCode: 1
    commit: v0.1.0
    subdir: app
    gradle:
      - yes

AutoUpdateMode: Version
UpdateCheckMode: Tags
CurrentVersion: '0.1.0'
CurrentVersionCode: 1
